body  {
    background-color: hotpink;
 /* background-image: url("aath-horizontal-stripes-black.jpg"); */
 


}

audio  {
    display: none;
}

#topicsHome  {

 margin-left:20px; 
}

p  {

    color: white;
}